body {
    /* width: 100vw;
    height: 100vh; */
    margin: 0;
    font-size: 14px;
    font-family: 'SF Pro Text', sans-serif;
    color: #000;
    font-weight: 400;
}

#topbar {
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 7px;
    height: 10%;
}

#topbar > div{
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

#head> img{
    width: 150px;
    height: 90px; 
}


#head {
    display: flex;
    justify-content:center;
    border-bottom: 1px solid rgba(117, 107, 107, 0.329);

}

#buttonGroup {
    display: flex;
    /* flex-direction: row;
    justify-content: center; */
    width: 80%;
    padding: auto;

}

#buttonGroup > div {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: auto;
    font-weight: 600;
    font-size: 14px;
}

 .product img {
     width: 80%;
    height: auto;  
    border-radius: 15px;
    box-shadow: 1px 1px 1px #c7bfbf;
    justify-content: center;

}

.main {
    max-width: 1000px;
    margin: 0 auto;
    font-weight: 550;
    font-family: sans-serif;
}

.main .title{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin: 5px;
}

.main .product {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main .product .consum {
    text-align: center;
}

#footer > div {
    color: #fff;
}

#footer {
    background-color: #000000D9;
    display: block;
    padding-top: 34px;
    padding-bottom: 34px;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#btft > div {
    margin: 20px;
}

.container_footer {
    padding-left: 30px;
    padding-top: 10px;
}

.consum > div {
    font-size: 16px;
    font-weight: 900px;
}